

footer(class="p-4")
    div(class="flex flex-col lg:flex-row items-center")
        div(class="w-full lg:w-auto lg:mr-auto text-center lg:text-left" ) &copy AppSeed
        div(class="flex justify-center items-center mt-4 lg:mt-0")
            img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6" )
            img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6 mx-6" )
            img(src="placeholders/icons/star.svg" alt="" class="w-6 h-6" )

