doctype html
html(lang="en")
    head
        title Tailwind CSS - FAQ's Components | AppSeed
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4

            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    h1(class="text-5xl leading-tight font-heading" ) 
                        a(href="https://tailwindcss.com/" ) Tailwind CSS

                    h3(class="mt-6 mb-8 text-gray-500 leading-relaxed" ) FAQ's Components - 
                        a(href="https://github.com/app-generator/tailwind-css-components") Source Code

            hr 

            section(class="py-12 px-4")
                div(class="max-w-3xl mx-auto")
                    h2(class="text-4xl text-center mb-4 font-heading" ) Frequently Asked Questions

                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow" ) How does Dunder Mifflin paper differ from other products?
                        img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )

                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow" ) Why choose Dunder Mifflin instead of some huge paper producer?
                        img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )

                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow" ) When I will receive the products?
                        img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )

                    button(class="flex items-center w-full p-4 text-left rounded shadow")
                        span(class="flex-grow" ) How long does it take to finalize the deal?
                        img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )
            hr 

            section(class="py-12 px-4")
                div(class="max-w-3xl mx-auto")
                    h2(class="text-4xl text-center mb-4 font-heading" ) Frequently Asked Questions

                    div(class="p-4 mb-2 border-b")
                        button(class="flex w-full text-left")
                            span(class="flex-grow font-semibold" ) How does Dunder Mifflin paper differ from other products?
                            img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )
                        p(class="mt-1" ) Paper produced with love, devotion, passion - is not the same paper. Our supplies are extra strong, and you’re going to need the paper-tear up-master to destroy just one sheet. It’s also suited for every available printer.

                    div(class="p-4 mb-2 border-b")
                        button(class="flex w-full text-left")
                            span(class="flex-grow font-semibold" ) Why choose Dunder Mifflin instead of some huge paper producer?
                            img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )
                        p(class="hidden mt-1" ) You know that feeling when you are waiting on the phone for hours to contact your supplier? Sometimes they even have a waiting time music prepared for that. In Dunder Mifflin, you can get help immediately, and each of our customers receives an individual assistant. For us, companies are people - not numbers, so we take care of each of them.

                    div(class="p-4 mb-2 border-b")
                        button(class="flex w-full text-left")
                            span(class="flex-grow font-semibold" ) When I will receive the products?
                            img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )
                        p(class="hidden mt-1" ) If you buy one of our business plans, you will receive the supplies every first Monday of the month. However, you can also purchase paper separately. Our employees will make sure that you will receive the products in the next business days.

                    div(class="p-4 mb-2 border-b")
                        button(class="flex w-full text-left")
                            span(class="flex-grow font-semibold" ) How long does it take to finalize the deal?
                            img(src="placeholders/icons/angle-bottom.svg" alt="" class="w-12" )
                        p(class="hidden mt-1" ) The whole process depends on your decision. If you sign the contract immediately, we can start official cooperation in the next two business days.

            hr

            include components/footer.pug                        