doctype html
html(lang="en")
    head
        title Tailwind CSS - Footers Components | AppSeed
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4

            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    h1(class="text-5xl leading-tight font-heading" ) 
                        a(href="https://tailwindcss.com/" ) Tailwind CSS

                    h3(class="mt-6 mb-8 text-gray-500 leading-relaxed" ) Footers Components - 
                        a(href="https://github.com/app-generator/tailwind-css-components") Source Code

            hr 

            footer(class="p-4")
                div(class="flex flex-col lg:flex-row items-center")
                    div(class="w-full lg:w-auto lg:mr-auto text-center lg:text-left" ) &copy 2019 Dunder Mifflin
                    div(class="flex justify-center items-center mt-4 lg:mt-0")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6 mx-6" )
                        img(src="placeholders/icons/star.svg" alt="" class="w-6 h-6" )

            hr 

            footer(class="flex flex-wrap items-center justify-between p-4")
                div(class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center" ) &copy 2019 Dunder Mifflin

                div(class="flex flex-col lg:flex-row items-center w-full lg:w-auto")
                    div(class="mx-auto lg:mx-0 lg:ml-auto")
                        a(class="inline-block mt-0 text-blue-900 hover:text-blue-700" href="#" ) Products
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#" ) Team
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#" ) Customers

                    div(class="flex justify-center mt-4 lg:mt-0 lg:ml-8")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6 mr-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6" )

            hr

            include components/footer.pug
