doctype html
html(lang="en")
    head
        title Tailwind CSS - Testimonials Components | AppSeed
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4

            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    h1(class="text-5xl leading-tight font-heading" ) 
                        a(href="https://tailwindcss.com/" ) Tailwind CSS

                    h3(class="mt-6 mb-8 text-gray-500 leading-relaxed" ) Testimonials Components - 
                        a(href="https://github.com/app-generator/tailwind-css-components") Source Code

            hr 

            section(class="pt-8 px-4 text-center")
                div(class="max-w-2xl mx-auto mb-8")
                    h2(class="text-4xl leading-tight mb-6 font-heading" ) What do our customers have to say about our services?
                    p(class="text-gray-500 leading-relaxed" ) See how paper can change the way you think about business.

                div(class="flex flex-wrap -mx-8")
                    div(class="w-1/2 md:w-1/6 px-8 mb-8")
                        img(src="placeholders/logos/realweb.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-8")
                        img(src="placeholders/logos/gitscape.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-8")
                        img(src="placeholders/logos/k-hole.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-8")
                        img(src="placeholders/logos/plucky.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-8")
                        img(src="placeholders/logos/1stsight.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-8")
                        img(src="placeholders/logos/tholio.svg" alt="" )

            hr 

            section(class="p-4")
                div(class="flex flex-wrap -mx-8")
                    div(class="w-1/2 md:w-1/6 px-8 mb-4 md:mb-0")
                        img(src="placeholders/logos/realweb.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-4 md:mb-0")
                        img(src="placeholders/logos/gitscape.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-4 md:mb-0")
                        img(src="placeholders/logos/k-hole.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-4 md:mb-0")
                        img(src="placeholders/logos/plucky.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-4 md:mb-0")
                        img(src="placeholders/logos/1stsight.svg" alt="" )
                    div(class="w-1/2 md:w-1/6 px-8 mb-4 md:mb-0")
                        img(src="placeholders/logos/tholio.svg" alt="" )

            hr

            include components/footer.pug
